---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  
    {%- for post in site.posts -%}
      <div class="ui container vertical segment">
        <h1>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>{{ post.date | date: date_format }}</span>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
    {%- endfor -%}

  {%- endif -%}

</div>
