.highlight pre {
  color: $font-color-light;
  overflow-x: auto;
  padding: 25px;
  line-height: 25px;
}

blockquote {
  border-left: 3px solid $theme-color;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0px 15px 15px;
}

.language-text {
  .highlight {
    background-color: initial;
    color: $font-color-dark;
    padding: 0px;
  }
}
