.highlight pre{ 
  color:  #f8f8f2;
  overflow-x: auto; 
  padding: 15px;
  border: 1px solid lightgray;
}

/**
 * Blockquotes
 */
 blockquote {
    color: #f8f8f2;
    border-left: 4px solid lightgray;
    padding-left: 4px;
  }